.expenseForm{
    margin-left:15rem;
    text-transform: capitalize;
}
.expenseForm label{
    margin-right: 0.6rem;
    margin-left: 0.4rem;
    font-weight:500;
    font-size: 1.3rem;

}
.expenseForm input{
    border-radius: 10px;
}
.expenseForm select{
    padding: 5px;
    font-weight: 400;
    border-radius: 6px;
}

.expenseForm button{
    margin-left: 1rem;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(177, 221, 165);
    font-weight: bold;
    cursor: pointer;
}
.expenseForm button:hover{
    background-color: blue;
}