.maneList {
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
  margin: 2rem 25rem;
  padding: 5px;
  font-weight: 600;
}

.list {
  border-bottom: 2px solid black;
  margin-top: 10px;
}

.deletbtn {
  display: inline-block;
  justify-content: space-between;
  margin-left: 1rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.deletbtn:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.total {
  margin: left 2rem;
  font-size: 1.3rem;
  text-decoration: underline red;

}