/* ForgotPassword.module.css */

.eform {
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
  }
  
  .elabel {
    margin-bottom: 10px;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
        
}
  .einput{
    width: 8rem;
    padding: 5px;
  }
  
  .ebutton {
    margin-top: 10px;
    margin-left: 1rem;
    padding: 8px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ebutton:hover {
    background-color: #0056b3;
  }
  h3{
    text-align: center;
  }