.signup-container {

  width: 300px;
  margin-left: 40%;
  margin-top: 6rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: aliceblue;
  box-shadow: 1px 2px 1px 2px blanchedalmonds;
}

h2 {
  text-align: center;

}

.singForm {
  display: flex;
  flex-direction: column;
}

 .inputlabel {
  margin-bottom: 10px;
 
}

.forminput {
  color: white;
  width: 100%;
  padding: 5px;
  border: 1px solid #111010;
  border-radius: 20px;
  background-color: #111010;
}

.singbutton {
  width: 100%;
  padding: 10px;
  background-color: #6369c8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.singbutton:hover {
  background-color: #6045a0;
}

.link {
 text-align: center;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: blue;
  text-decoration: underline;
}